<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/308eef2987.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="img"><img src="/img/mercadoliebre.png" alt="mercado liebre" width="200"></div>
        <input type="search" placeholder="buscar producto, marca">
        <button><a class="icono" href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
        <p><a class="icono" href=""><i class="fa-solid fa-hand-holding-dollar"></i></a> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="primeraParte">
                <li><a href="ofertas">ofertas</a></li>
                <li><a href="tiendas oficiales">tiendas oficiales</a></li>
                <li><a href="vender">vender</a></li>
                <li><a href="ayuda">ayuda</a></li>
            </ul>
            <ul class="segundaParte">
                <li><a href="crea tu cuenta">creá tu cuenta</a>
                    <a class="icono" href=""><i class="fa-regular fa-address-card"></i></a>
                    </li>
                <li><a href="ingresa">ingresá</a>
                    <a class="icono" href=""><i class="fa-solid fa-right-to-bracket"></i></i></a>
                </li>
                <li><a href="compras">mis compras</a>
                    <a class="icono" href=""><i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burguer">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <main>
        <div><img class="banner" width="390" src="/img/img-home-banner.jpg" alt=""></div>
        
        <section>
            <h1>basado en tu última visita</h1>
            <article>
                <img  src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$6770</span>
                <span class="descuento">40% OFF</span>
                <h3 class="descripcion">cafetera moulinex</h3>
                </div>
            </article>
            <article>
                <img  src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$230.000</span>
                <span class="descuento">20% OFF</span>
                <h3 class="descripcion">macBook pro 2019</h3>
            </div>
            </article>
            <article>
                <img  src="/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$70.500</span>
                <span class="descuento">10% OFF</span>
                <h3 class="descripcion">samsung galaxy S10</h3>
            </div>
            </article>
            <article>
                <img  src="/img/img-tv-samsung-smart.jpg" alt="smart-tv">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$23.200</span>
                <span class="descuento">5% OFF</span>
                <h3 class="descripcion">smartTv samsung 43"</h3>
            </div>
            </article>
        </section>
        <section>
            <h1>ofertas</h1>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$6770</span>
                <span class="descuento">40% OFF</span>
                <h3 class="descripcion">cafetera moulinex</h3>
            </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$230.000</span>
                <span class="descuento">20% OFF</span>
                <h3 class="descripcion">macBook pro 2019</h3>
            </div>
            </article>
            <article>
                <img  src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$70.500</span>
                <span class="descuento">10% OFF</span>
                <h3 class="descripcion">samsung galaxy S10</h3>
            </div>
            </article>
            <article>
                <img  src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <div class="box">
                <div class="carrito"><a href=""><i class="fa-solid fa-truck"></i></a></div>
                <span class="precio">$23.200</span>
                <span class="descuento">5% OFF</span>
                <h3 class="descripcion">smartTv samsung 43" </h3>
            </div>
            </article>
        </section>
    </main>
    <footer>
            <section>
                <a href=""><i class="fa-solid fa-credit-card"></i></a>
                <h3> pagá con tarjeta o en efectivo</h3>
                <p>
                    con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <a href=""><i class="fa-solid fa-gift"></i></a>
                <h3> envío gratis desde $ 2.500</h3>
                <p>
                    solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos.
                </p>
            </section>
            <section>
                <a href=""><i class="fa-solid fa-user-shield"></i></a>
                <h3>seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    </footer>
</body>

</html>