<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="noencontrado">
    <div id="logo"><img width="375" src="/img/mercadoliebre.png" alt="mercadoliebre"></div>
    <img id="img" width="375" src="/img/notfound-01.png" alt="pagina no encontrada">
    <div id="direccion"><a href="/">Ir a la pagina principal</a></div>
</body>
</html>