<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada</title>
</head>
<body>
    <div><img width="375" src="/img/WhatsApp Image 2022-03-16 at 7.37.01 PM.jpeg" alt="mercadoliebre"></div>
    <img width="375" src="/img/notfound-01.png" alt="pagina no encontrada">
    <div><a href="/">Ir a la pagina principal</a></div>
</body>
</html>