<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/308eef2987.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section class="header-flexbox">
            <div class="flex-img">
                <a href="/"><img src="/img/mercadoliebre.png" alt="mercado liebre" width="300px"></a>
            </div>
            <div class="header-buscador">
                <input class="input" type="search" placeholder="buscar producto, marcas">
                <svg class="icono" width="512" height="512" viewBox="0 0 512 512" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M505 442.7L405.3 343C400.8 338.5 394.7 336 388.3 336H372C399.6 300.7 416 256.3 416 208C416 93.1 322.9 0 208 0C93.1 0 0 93.1 0 208C0 322.9 93.1 416 208 416C256.3 416 300.7 399.6 336 372V388.3C336 394.7 338.5 400.8 343 405.3L442.7 505C452.1 514.4 467.3 514.4 476.6 505L504.9 476.7C514.3 467.3 514.3 452.1 505 442.7ZM208 336C137.3 336 80 278.8 80 208C80 137.3 137.2 80 208 80C278.7 80 336 137.2 336 208C336 278.7 278.8 336 208 336Z"
                        fill="#A9A4A4" />
                </svg>
            </div>
            <p><a class="icono" href=""><i class="fa-solid fa-hand-holding-dollar"></i></a> Comprá en cuotas y sin
                tarjeta de crédito</p>
        </section>
        <nav>
            <ul class="primeraParte">
                <li><a href="ofertas">ofertas</a></li>
                <li><a href="tiendas oficiales">tiendas oficiales</a></li>
                <li><a href="vender">vender</a></li>
                <li><a href="ayuda">ayuda</a></li>
            </ul>
            <ul class="segundaParte">
                <li><a href="/register">creá tu cuenta</a>
                    <a class="icono" href=""><i class="fa-regular fa-address-card"></i></a>
                </li>
                <li><a href="/login">ingresá</a>
                    <a class="icono" href=""><i class="fa-solid fa-right-to-bracket"></i></i></a>
                </li>
                <li><a href="compras">mis compras</a>
                    <a class="icono" href=""><i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burguer">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <main class="main-register">
        <section class="register-box">
            <h2>Registrarme</h2>
            <article class="register-form">
              <form action="" class="register-form-info">
                <div class="register-info">
                  <input type="text" id="nombre" name="nombre" placeholder="nombre y apellido" minlength="6" required>
                  <label for="nombre"></label>
                </div>
                <div class="register-info">
                  <input type="text" id="usuario" name="usuario" placeholder="nombre de usuario" minlength="6" required>
                  <label for="usuario"></label>
                </div>
                <div class="register-info">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <label for="email"></label>
                  </div>
                  <div class="register-info">
                    <input type="date" name="fecha" min="1930-01-01" max="2021-12-31" placeholder="Fecha de nacimiento">
                    <label for="fecha"></label>
                  </div>
                  <div class="register-info">
                    <input type="text" id="domicilio" name="domicilio" placeholder="domicilio">
                    <label for="domicilio"></label>
                  </div>
                <div>
                    <input type="radio" name="compradores-vendedores" id="compradores" value="comprador">
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="compradores-vendedores" value="vendedor" id="vendedores">
                    <label for="vendedores">Vendedor</label>
                </div>
                <div class="register-intereses">
                <p>Intereses</p>
                <ul>
                  <li>
                    <input type="checkbox" name="preferecias" id="Electro" value="E">
                    <label for="Electro">Electro</label>
                  </li>
      
      
                  <li>
                    <input type="checkbox" name="preferecias" id="Moda" value="M">
                    <label for="Moda">Moda</label>
                  </li>
      
      
                  <li>
                    <input type="checkbox" name="preferecias" id="Hogar" value="H">
                    <label for="Hogar">Hogar</label>
                  </li>
      
      
                  <li>
                    <input type="checkbox" name="preferecias" id="Jugueteria" value="J">
                    <label for="Jugueteria">Jugueteria</label>
                  </li>
      
      
                  <li> 
                    <input type="checkbox" name="preferecias" id="Vida-Sana" value="V">
                    <label for="Vida-Sana">Vida Sana</label>
                  </li>
                </ul>
              </div>
              <div>
                  <label for="img">Foto de Usuario</label>
                  <input type="file" name="imagenDePerfil" value="image" id="img" accept=".jpg, .png" >
              </div>
              <div class="register-contraseña">
                <input type="password" class="input" placeholder="Contraseña" data-lpignore="true" minlength="8" required>
              
                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon password" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
              </div>
              <div class="register-contraseña">
                <input type="password" class="input password" placeholder="Confirmar contraseña" data-lpignore="true"  minlength="8" required>
              
                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon password" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
              </div>
                <div class="register-boton-box">
                  <a href="/"><button class="register-button" type="submit">Enviar</button></a>
                  <a href="/register"><button class="register-button" type="reset">Borrar</button></a>
                </div>
              </form>
            </article>
          </section>
    </main>
    <footer>
        <section>
            <a href=""><i class="fa-solid fa-credit-card"></i></a>
            <h3> pagá con tarjeta o en efectivo</h3>
            <p>
                con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <a href=""><i class="fa-solid fa-gift"></i></a>
            <h3> envío gratis desde $ 2.500</h3>
            <p>
                solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                beneficio
                de Mercado Puntos.
            </p>
        </section>
        <section>
            <a href=""><i class="fa-solid fa-user-shield"></i></a>
            <h3>seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>