.banner{
    width: 100%;
}

main section{
    width: 90%;
    margin-top: 10px;
    padding: 10px;

}

main section h1{
    margin-left: 30px;
    text-align: left;
    font-size: 20px;
    color: var(--colorGrisOscuro);
    
}

main section article{
    background-color: var(--colorWhite);
    margin: 25px 25px;
    padding: 10px;
    text-transform: capitalize;
}

main section article img{
    margin-top: 10px;
    font-size: 10px;
    width: 100%;
    margin: 0 auto;
    
}

.box{
    border-top: 1px solid var(--colorGris);
    padding: 15px;
}

.carrito{
    width: 100%;
    height: 100%;
    margin: 10px auto 20px;
    
}

.carrito a{
    color: var(--colorVerde);
    border-radius: 50%;
    border: solid 1px;
    padding: 15px;
}

.precio{
    font-size: 18px;
    display: block;
}

.descuento{
    font-size: 16px;
    color: var(--colorVerde);
}

.descripcion{
    display: none;
}

@media (min-width: 361px) {
    main section article{
        box-shadow: 0 0 10px rgb(100, 100, 100)
    }

    .descripcion{
        font-weight: normal;
        display: block;
    }
}

@media(min-width: 769px){
    main section article img{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
}
