.noencontrado{
    background-color: var(--colorGrisOscuro);
}
#logo{
    background-color: #EAC926;
}
#img{
    width: 100%;
}
#direccion a{
    color: var(--colorNegro);
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
}